<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 {%load staticfiles%}
 <link rel="stylesheet" type="text/css" href="{%static 'susukkang/css/details.css'%}"/>
<title>회원가입</title>
</head>
<body>

<div class="header">
  <h1>수수깡</h1>
  <p>수포자들을 위한 맞춤형 솔루션</p>
</div>

<div class="topnav">
	<a href="{%url 'start' %}">HOME</a>
	<a href="{%url 'login' %}">로그인</a>
  	<a href="{%url 'newMember' %}">회원가입</a>
</div>
<div class="container" style="margin: 30px; padding: 30px">
<div class="signup-form" style="background-color:white; padding: 70px">
<div class="panel">
	<h2>회원가입</h2>
</div>
<div class="signup-table" style="margin: 10px; padding: 30px">

   <table>
   <tr>
   	<th style="width: 150px">아이디</th>
   	<th><input type="text" style="width: 250px; height: 40px;" name="id"> </th>
   </tr>
   <tr>
   	<th>비밀번호</th>
   	<th><input type="text" style="width: 250px; height: 40px;" name="pw1"> </th>
   </tr>
   <tr>
   	<th>비밀번호 확인</th>
   	<th><input type="text" style="width: 250px; height: 40px;" name="pw2"> </th>
   </tr>
   <tr>
   	<th>생년월일</th>
   	<th><select name="year" style="width: 100px; height: 40px;">
   	<option value="1993">1993</option>
   	<option value="1994">1994</option>
   	<option value="1995">1995</option>
   	<option value="1996">1996</option>
   	<option value="1997">1997</option>
   	<option value="1998">1998</option>
   	<option value="1999">1999</option>
   	<option value="2000">2000</option>
   	<option value="2001">2001</option>
   	<option value="2002">2002</option>
   	<option value="2003">2003</option>
   	<option value="2004">2004</option>
	</select>년  <select name="month" style="width: 100px; height: 40px;"> 
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	</select>월  <select name="day" style="width: 100px; height: 40px;">  
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
	</select>일 </th>
   </tr>
   <tr>
   	<th>이메일</th>
   	<th><input type="text" style="width: 200px; height: 40px;" name="mail1"> @ <select name="mail2" style="width: 250px; height: 40px;">
   	<option value="naver.com">naver.com</option>
   	<option value="gmail.com">gmail.com</option>
   	<option value="daum.net">daum.net</option>
   	<option value="nate.com">naver.com</option>
   	<option value="yahoo.com">yahoo.com</option>
   	<option value="korea.com">korea.com</option> 
   	<option value="empass.com">empass.com</option>
   	<option value="dreamwiz.com">dreamwiz.com</option> 
   	<option value="hotmail.com">hotmail.com</option> </select>
   </tr>
   </table>
   
</div>

<button type="submit" class= "submit-btn" style="float:right">회원가입</button>

</div>
</div>

</body>
</html>