<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{%static 'susukkang/css/popup.css'%}"/>
<title>결과</title>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body>
<div class="header">
  <h1>결과</h1>
</div>

	<script type="text/javascript">
		{%load staticfiles%}

	  	function ansFunction(i,n) {
	  		alert(ans_arr[0]+" / "+ans_arr[1]+" / "+ans_arr[2]);
	  	}

	</script>
		<table>
	    <tr><td style="text-align:center; padding-left: 30px; padding-right:20px">
	    <button class="number3" onclick="ansFunction()">답안보기</button>
	    </td></tr>
	    </table> 
	      </div>
	   </div>
	</div>

</body>
</html>
