<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/popup.css?ver=1"/>
<title>학습하기</title>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
<div class="header">
  <h1>진단평가</h1>
</div>
	<p id="num">1</p>
  	<p id="img">1</p>
  	<script>
	function plusFunc(){
		var i = $("#num").text();
		i = parseInt(i);
		if(i>0 && i<7){
			i++;
			$("#num").text(i);
			$("#img").text(i);
			$("#img").append(".png");
			$("#img").prepend("../problem/");
			$("#problem").attr("src",$("#img").text());
			
		}
	}
	
	function minusFunc(){
		var i = $("#num").text();
		i = parseInt(i);
		if(i>1 && i<8){
			i--;
			$("#num").text(i);
			$("#img").text(i);
			$("#img").append(".png");
			$("#img").prepend("../problem/");
			$("#problem").attr("src",$("#img").text());
		}
	}
	</script>
<div class="row">
	  <div class="column1">
	  	<a href="javascript:minusFunc()"><img src="../images/left.png" width="50"></a></div>
	  <div class="column2">
	  <div class="card">
	    <img id="problem" width="100%" src="../problem/1.png"></div>
	  <div class="card">
	    <img id="one" src="../problem/21.png" align="left" height="50px" >
	    <img id="two" src="../problem/22.png" align="left" height="50px" >
	   	<img id="three" src="../problem/23.png" align="left" height="50px" >
	    <img id="four" src="../problem/24.png" align="left" height="50px">
	    <img id="five" src="../problem/25.png" align="left" height="50px">
	   </div>
	  </div>
	  <div class="column3">
	   <a href="javascript:plusFunc()"><img src="../images/right.png" width="50" height="50"></a></div>
  	<div class="column4">
  	<div class="card">
    <h2>답안지</h2>
      <p>① ② ③ ④ ⑤</p>
      <p>① ② ③ ④ ⑤</p>
      <p>① ② ③ ④ ⑤</p>
      <p>① ② ③ ④ ⑤</p>
      </div>
   </div>
</div>

</body>
</html>
