<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{%static 'susukkang/css/popup.css'%}"/>
<title>진단평가</title>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body>
<div class="header">
  <h1>진단평가</h1>
</div>

	<script type="text/javascript">
		{%load staticfiles%}
		var pr_index = 0;
		var pr_arr = new Array();
		var pr_size = 0;

		var ans_arr = new Array();

		{% for problem in problems %}
		    var obj = new Object();
		    obj.pr_id = {{problem.pr_id}};
		    obj.ans = {{problem.ans}};
		    obj.unit = {{problem.unit}};
		    pr_arr.push(obj);
		    pr_size+=1;
		{% endfor %}

		$(function(){
			$('.column1 img').click(function(){
				pr_index-=1;
				if(pr_index<0){
					alert('처음 문제입니다');
					pr_index+=1;
				}
				else{
					$('.card img').attr("src", "{{STATIC_URL}}../static/susukkang/images/questions/"+pr_arr[pr_index].pr_id+".png");
					$('#problem').text(pr_arr[pr_index].pr_id);
				}
			});
			$('.column3 img').click(function(){
				pr_index+=1;
				if(pr_index>=pr_size){
					alert('마지막 문제입니다');
					pr_index-=1;
				}
				else{
					$('#pimage').attr("src", "../static/susukkang/images/questions/"+pr_arr[pr_index].pr_id+".png");
					$('#problem').text(pr_arr[pr_index].pr_id);
				}
			});

		});

		function prFunction(n) {
	  		$('#pimage').attr("src", "../static/susukkang/images/questions/"+pr_arr[n].pr_id+".png");
			$('#problem').text(pr_arr[n].pr_id);
			pr_index = n;
	  	}

	  	function ansFunction(i,n) {
	  		ans_arr[i] = n;
	  		alert(i + " / " + ans_arr);
	  	}

	  	function submitFunction() {
	  		var txt1 = document.getElementById("txt1").value;
	  		var txt2 = document.getElementById("txt2").value;
	  		var txt3 = document.getElementById("txt3").value;
	  		ans_arr[7] = txt1; ans_arr[8] = txt2; ans_arr[9] = txt3;

	  		var aJsonArray = new Array();
	  		var aJson = new Object();

	  		for(var i=0; i<10; i++){
	  			aJson = new Object();
	  			aJson.prName = pr_arr[i];
	  			aJson.ansName = ans_arr[i];
	  			aJsonArray.push(aJson);
	  		}

	  		var sJson = JSON.stringify(aJsonArray);
	  		alert(sJson);
	  		//FileWriter file = new FileWriter("../static/susukkang/answer10.json");
			//file.write(sJson);
			//file.flush();
			//file.close();
	  	}
	</script>


	<p id="num" style="display:none">0</p>
  	<p id="img"></p>
    <div class="row">
        <div class="column1">
            <a><img id="left" src="{%static 'susukkang/images/left.png'%}" width="40"></a>
        </div>
        <div class="column2">
        	 <table>
                <thead>
                    <tr>
                        <td>문제이름</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
					    <td><p id=problem>{{ problems.0.pr_id }}</p></td>
                    </tr>   
                </tbody>
            </table>
            <div class="card">
            	<img id= "pimage" width="100%" src="">
            	<script type="text/javascript">
            		{%load staticfiles%}
            		var pimage = document.getElementById('pimage');
            		var link = "../static/susukkang/images/questions/";
            		var pname = {{ problems.0.pr_id }};
            		pimage.src = link.concat(pname,".png");
            	</script>
			</div>
		</div>
	    <div class="column3">
	    	<a><img id="right" src="{%static 'susukkang/images/right.png'%}" width="40"></a>
	    </div>

	  	<div class="column4">
	  	<div class="card">
	  	
	    <table style="width:100%">
	    <tr><th style="text-align:center;padding-left:30px"><p>답안지</p></th></tr>
	    <tr><td style="text-align:center; padding-left: 30px;">

	    	<div class="fiveButton">
		    	<button class="number" onclick="prFunction(0)">1</button>
			  <button class="button" onclick="ansFunction(0,1)">1</button>
			  <button class="button" onclick="ansFunction(0,2)">2</button>
			  <button class="button" onclick="ansFunction(0,3)">3</button>
			  <button class="button" onclick="ansFunction(0,4)">4</button>
			  <button class="button" onclick="ansFunction(0,5)">5</button>
			</div>
	    </td></tr>
	    <tr><td style="text-align:center; padding-left: 30px;">
	    <button class="number" onclick="prFunction(1)">2</button>
			  <button class="button" onclick="ansFunction(1,1)">1</button>
			  <button class="button" onclick="ansFunction(1,2)">2</button>
			  <button class="button" onclick="ansFunction(1,3)">3</button>
			  <button class="button" onclick="ansFunction(1,4)">4</button>
			  <button class="button" onclick="ansFunction(1,5)">5</button>
	    </td></tr>
	    <tr><td style="text-align:center; padding-left: 30px;">
	    <button class="number" onclick="prFunction(2)">3</button>
		  	<button class="button" onclick="ansFunction(2,1)">1</button>
			<button class="button" onclick="ansFunction(2,2)">2</button>
			<button class="button" onclick="ansFunction(2,3)">3</button>
			<button class="button" onclick="ansFunction(2,4)">4</button>
			<button class="button" onclick="ansFunction(2,5)">5</button>
	    </td></tr>
	    <tr><td style="text-align:center; padding-left: 30px;">
	    <button class="number" onclick="prFunction(3)">4</button>
		  	<button class="button" onclick="ansFunction(3,1)">1</button>
			<button class="button" onclick="ansFunction(3,2)">2</button>
			<button class="button" onclick="ansFunction(3,3)">3</button>
			<button class="button" onclick="ansFunction(3,4)">4</button>
			<button class="button" onclick="ansFunction(3,5)">5</button>
	    </td></tr>
	    <tr><td style="text-align:center; padding-left: 30px;">
	    <button class="number" onclick="prFunction(4)">5</button>
		  	<button class="button" onclick="ansFunction(4,1)">1</button>
			<button class="button" onclick="ansFunction(4,2)">2</button>
			<button class="button" onclick="ansFunction(4,3)">3</button>
			<button class="button" onclick="ansFunction(4,4)">4</button>
			<button class="button" onclick="ansFunction(4,5)">5</button>
	    </td></tr>
	    <tr><td style="text-align:center; padding-left: 30px;">
	    <button class="number" onclick="prFunction(4)">6</button>
		  	<button class="button" onclick="ansFunction(5,1)">1</button>
			<button class="button" onclick="ansFunction(5,2)">2</button>
			<button class="button" onclick="ansFunction(5,3)">3</button>
			<button class="button" onclick="ansFunction(5,4)">4</button>
			<button class="button" onclick="ansFunction(5,5)">5</button>
	    </td></tr>
	    <tr><td style="text-align:center; padding-left: 30px;">
	    <button class="number" onclick="prFunction(4)" >7</button>
		  	<button class="button" onclick="ansFunction(6,1)">1</button>
			<button class="button" onclick="ansFunction(6,2)">2</button>
			<button class="button" onclick="ansFunction(6,3)">3</button>
			<button class="button" onclick="ansFunction(6,4)">4</button>
			<button class="button" onclick="ansFunction(6,5)">5</button>
	    </td></tr>

		    <tr><td style="text-align:center; padding-left: 30px;">
		    <button class="number2" onclick="prFunction(4)">8</button>
		    	<input type="text" id='txt1' >
		    </td></tr>
		    <tr><td style="text-align:center; padding-left: 30px;">
		    <button class="number2" onclick="prFunction(4)">9</button>
		    	<input type="text" id='txt2' >
		    </td></tr>
		    <tr><td style="text-align:center; padding-left: 30px;">
		    <button class="number2" onclick="prFunction(4)">10</button>
		    	<input type="text" id='txt3' >
		    </td></tr>
	    <tr><td style="text-align:center; padding-left: 30px; padding-right:20px">
	    <button class="number3" onclick="submitFunction()">채점하기</button>
	    </td></tr>
	    </table>
	      
	      </div>
	   </div>
	</div>

</body>
</html>
